main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 20px;
}

.main__result {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  max-width: 500px;
  gap: 10px;
  border: 1px solid black;
}

.main__result__image {
  height: 275px;
  width: auto;
}

.main__result__text {
  height: 150px;
  font-size: clamp(10px, 5vh, 20px);
}
